<!doctype html>
<html>
<head>
    <title>Google Authentication</title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span> Google Authentication</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>

    </div>

</div>
</body>
</html>